<div class="container padding">
  <div class="float-left">
      <img class="img-alert" src="../../assets/images/logo-header.png" alt="">
    </div>
    <div class="content-alert">
        <div class="text-danger font-size-25" mat-dialog-title>{{data.title}}</div>
        <mat-dialog-content class="mat-typography text-danger font-size-15">
          {{data.text}}
        </mat-dialog-content>
        <mat-dialog-actions class="margin-top" align="center">
          <button (click)="onNoClick('OK')" class="btn btn-light" >OK</button>
          <button (click)="onNoClick('Cancle')" class="btn btn-light" >Cancle</button>
        </mat-dialog-actions>
       
    </div>
    
</div>