<div>
  <div class="form-group row col-12" *ngIf="userDetail.ResponseData.userRole == 'admin'">
    <label for="itemUserRef" class="col-sm-2 col-form-label"><b>User*</b> </label>
    <div class="col-sm-5">
      <select class="form-control" name="user" [(ngModel)]="userRef" (change)="UserOption($event.target.value)">
        <option *ngFor="let item of productofUser" [value]="item.username">{{item.username}}</option>
      </select>
    </div>
  </div>
  <div class="col-12">
    <div class="row table-responsive">
      <table class="table">
        <thead class="thead-dark">
          <tr class="col">
            <th scope="col">#</th>
            <th scope="col">Invoice No.</th>
            <th scope="col">Receipt Info</th>
            <th scope="col">Customer Phone Number</th>
            <th scope="col">Ref No. / CB No.</th>
            <th scope="col">sale date</th>
            <th scope="col">client</th>
            <th scope="col">Total Price</th>
            <th scope="col">Submitted By</th>
            <th scope="col">Payment Image</th>
            <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of inquiryOrder?.ResponseData.data ; let i = index;">
            <th scope="row">{{i+1}}</th>
            <td>
              <div class="btn-link" (click)="ShowDetail(item)">{{item.orderNo}}</div>
            </td>
            <td>{{item.customerName}} <br>{{item.customerAddress}}</td>
            <td>{{item.customerTel}}</td>
            <td>{{item.customerRefNo}}</td>
            <td>{{item.paymentDate}}</td>
            <td>{{item.user}}</td>
            <td>{{item.grandTotal}}</td>
            <td>{{item.createBy}}</td>
            <td>
              <div class="btn-link" (click)="ShowImage(item.paymentImage)">
                Image
              </div>
            </td>
            <td>
              <div>
                <div class="row bg-danger min-width-20" [ngClass]="{'bg-danger': item.status == 'Cancelled order'}">
                  <div>{{item.status}}</div>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>


    </div>

  </div>