<div>
  <div class="form-group row col-12" *ngIf="userDetail.ResponseData.userRole == 'admin'">
    <label for="itemUserRef" class="col-sm-2 col-form-label"><b>User*</b> </label>
    <div class="col-sm-5">
      <select class="form-control" name="user" [(ngModel)]="userRef" (change)="UserOption($event.target.value)">
        <option *ngFor="let item of productofUser" [value]="item.username">{{item.username}}</option>
      </select>
    </div>
    <div class="col-sm-5 search">
      <span>
        <i class="fa fa-search margin-right" aria-hidden="true"></i>
      </span>
      <input type="text"  placeholder="Search RefNo"
        (keyup)="Filter($event.target.value)">
    </div>
  </div>
  <div class="w-90 margin-auto">
    <div class="row table-responsive">
      <table class="table">
        <thead class="thead-dark">
          <tr class="col">
            <th class="text-center" scope="col">#</th>
            <th class="text-center" scope="col">Invoice No.</th>
            <th class="text-center" scope="col">Receipt Info</th>
            <th class="text-center" scope="col">Customer Phone Number</th>
            <th class="text-center" scope="col">Ref No. / CB No.</th>
            <th class="text-center" scope="col">sale date</th>
            <th class="text-center" scope="col">Submitted By</th>
            <th class="text-center" scope="col">Status</th>
            <th class="text-center" colspan="2" scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of order ; let i = index;">
            <th scope="row">{{i+1}}</th>
            <td class="btn-link" (click)="Print(item)">{{item.orderNo}}</td>
            <td>{{item.customerName}} <br>{{item.customerAddress}}</td>
            <td>{{item.customerTel}}</td>
            <td>{{item.customerRefNo}}</td>
            <td>{{item.paymentDate}}</td>
            <td>{{item.createBy}}</td>
            <td>
              <select class="form-control min-width-20" name="user" [(ngModel)]="item.status"
                (change)="StatusInvoice($event.target.value,item,i)">
                <option>Waiting for shipment</option>
                <option>Shipped</option>
                <option>Delivered</option>
                <option>Paid</option>
              </select>
            </td>
            <td><button (click)="Edit(item)" class="btn btn-warning text-white bt-style no-margin">Edit</button></td>
            <td><button (click)="Delete(item)" class="btn btn-danger bt-style no-margin">Delete</button></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="margin-top col-12 text-right">
      <button [disabled]="saveData.length == 0" type="button" (click)="save()" class="btn btn-success bt-style col-sm-1">Save</button>
    </div>
  </div>