<div class="w-100 relative">
        <div class="ab top-right link padding" style="z-index: 9999;" (click)="Close()">
                <i class="fa fa-times"></i>
        </div>
        <div *ngIf="data.status == 'Paid'">
                <img class="img-paid" src="../../assets/images/paid.png" alt="">
        </div>
        <div class="w-100 padding">
                <div class="col-sm-8 offset-sm-2 col-12 padding-20 border">
                        <div class="text-right font-35">
                                <b>SHOP : {{data.user}}</b>
                        </div>
                        <div class="text-right">
                                <div>
                                        <b>Date:</b> {{data.showdate}}
                                </div>
                                <div>
                                        <b>Receipt No:</b> {{data.orderNo}}
                                </div>
                                <div>
                                        <b>Ref No./CB No.:</b> {{data.customerRefNo}}
                                </div>
                        </div>
                        <div class="margin-top">
                                <div class="float-left">Sold To</div>
                                <div class="float-left margin-left text-left">
                                        <div>
                                                <b>Customer Name:</b> {{data.customerName}}
                                        </div>
                                        <div>
                                                <b>Customer Address :</b> {{data.customerAddress}}
                                        </div>
                                </div>
                                <div class="clearfix"></div>
                        </div>
                        <div class="margin-top table-responsive col-12">
                                <table class="table table-borderless">
                                        <thead>
                                                <tr>
                                                        <th scope="col">Payment Method</th>
                                                        <th scope="col">Payment Date</th>
                                                        <th scope="col">Status</th>
                                                </tr>
                                        </thead>
                                        <tbody>
                                                <tr>
                                                        <td>{{data.paymentType}}</td>
                                                        <td>{{data.paymentDate}}</td>
                                                        <td class="text-danger"><b>{{data.status}}</b></td>
                                                </tr>
                                        </tbody>
                                </table>
                        </div>

                        <div class="margin-top table-responsive col-12">
                                <table class="table table-borderless">
                                        <thead class="thead-dark">
                                                <tr>
                                                        <th scope="col">NO.</th>
                                                        <th scope="col">Product Name</th>
                                                        <th scope="col">Unit Price</th>
                                                        <th scope="col">Qty</th>
                                                        <th scope="col">Total</th>
                                                </tr>
                                        </thead>
                                        <tbody>
                                                <tr *ngFor="let item of data.order;let i = index;">
                                                        <td>{{i+1}}</td>
                                                        <td>{{item.itemName}}</td>
                                                        <td>{{item.itemPrice | number:'.2'}}</td>
                                                        <td>{{item.quantity | number:'.2'}}</td>
                                                        <td>{{item.total | number:'.2'}}</td>
                                                </tr>
                                                <tr>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td><b>Total Qty</b></td>
                                                        <td>{{data.totalQuantity | number:'.2'}}</td>
                                                </tr>
                                                <tr>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td><b>SubTotal</b></td>
                                                        <td>{{data.totalCharge | number:'.2'}}</td>
                                                </tr>
                                                <tr>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td>Additional Charges </td>
                                                        <td>{{data.addCharge | number:'.2'}}</td>
                                                </tr>
                                                <tr>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td>Discount</td>
                                                        <td>{{data.discount | number:'.2'}}</td>
                                                </tr>

                                                <tr>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td>Additional Cost</td>
                                                        <td>{{data.additionalCost | number:'.2'}}</td>
                                                </tr>
                                                <tr
                                                        *ngIf="data.codCost != '0' || data.codCost != undefined || data.codCost != '' || data.codCost != null">
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td>COD</td>
                                                        <td>{{data.codCost | number:'.2'}}</td>
                                                </tr>
                                                <tr>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td>Shipping Fee</td>
                                                        <td>{{data.shippingFee | number:'.2'}}</td>
                                                </tr>
                                                <tr>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td>Additional Cost</td>
                                                        <td>{{data.additionalCost | number:'.2'}}</td>
                                                </tr>
                                                <tr>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td><b>Total</b></td>
                                                        <td>{{data.grandTotal | number:'.2'}}</td>
                                                </tr>
                                        </tbody>
                                </table>
                        </div>
                </div>
        </div>
</div>